{% extends "base.html" %}
{% block content%}
{% set date = data.result.date %}
{% set orders = data.result.orders %}
{% set items = data.result.order_items %}
{% set product_type = data.result.product_type[0] %}
{% set count_product_type = data.result.product_type[1] %}

<link rel="stylesheet" href="{{ url_for('auth_static',path='libs/apex-charts/apex-charts.css') }}" />
<div class="container-fluid flex-grow-1 container-p-y">
    <!-- Total Sale -->
    <div class="col-md-12 mb-4">
        <div class="card">
            <form>
                <div class="row justify-content-center text-center mb-3 mt-3">
                    <div class="col">
                        <div class="row">
                            <div class="col-3">
                                <label style="margin-bottom: 6px; margin-top: 2px;" for="date-range-picker-2">Date Range
                                    Picker</label>
                                <span>
                                    <input type="text" class="form-control-sm" name="date-range"
                                        id="date-range-picker-2" />
                                </span>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label text-sm-end"
                                        style="margin-bottom: 6px; margin-top: 2px;" for="team">Team</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" name="team">
                                            <option value=""></option>
                                            <option value="all">All</option>
                                            {% for team in data.private_team %}
                                            <option value="{{ team }}">{{ team }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label text-sm-end"
                                        style="margin-bottom: 6px; margin-top: 2px;" for="seller">Seller</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" name="seller">
                                            <option value=""></option>
                                            <option value="all">All</option>
                                            {% for seller in data.private_seller %}
                                            <option value="{{ seller }}">{{ seller }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label text-sm-end"
                                        style="margin-bottom: 6px; margin-top: 2px;" for="shop">Shop</label>
                                    <div class="col-sm-9">
                                        <select class="form-select" name="shop">
                                            <option value=""></option>
                                            <option value="all">All</option>
                                            {% for shop in data.private_shop %}
                                            <option value="{{ shop }}">{{ shop }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3 text-center loading_spinner">
                        <div class="spinner-border spinner-border-lg text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3 mb-3">
                    <button type="button" class="btn btn-primary" id="submitAnalitics">Submit</button>
                </div>
            </form>
            <div class="render-results">
                <div class="row row-bordered g-0">
                    <div class="col-md-8">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Total Sales</h5>
                            <small class="card-subtitle">Monthly report overview</small>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <div id="totalSaleChart"></div>
                            </div>
                            <div class="row mb-4">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Total Items</h5>
                                </div>
                                <div id="totalItemChart"></div>
                            </div>
                            <div class="row mb-4">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Product type</h5>
                                </div>
                                <div id="productTypeChart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Report Orders and Items each team</h5>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <div class="card-title mb-0">
                                            <h5 class="m-0 me-2">Orders</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            {% for key, value in data.count_sales.items() %}
                                            <li class="d-flex mb-4 pb-1">
                                                <div
                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-1 fw-normal">
                                                            Team {{ key }}:
                                                            {% if loop.index == 1 %}
                                                            <i class='bx bx-crown text-warning'></i>
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <div class="user-progress">
                                                        <h6 class="mb-0">{{ value }} orders</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <div class="card-title mb-0">
                                            <h5 class="m-0 me-2">Items</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            {% for key, value in data.count_items.items() %}
                                            <li class="d-flex mb-4 pb-1">
                                                <div
                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-1 fw-normal">
                                                            Team {{ key }}:
                                                            {% if loop.index == 1 %}
                                                            <i class='bx bx-crown text-warning'></i>
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <div class="user-progress">
                                                        <h6 class="mb-0">{{ value }} items</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-5">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <div class="card-title mb-0">
                                            <h5 class="m-0 me-2">Seller</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            {% for key, value in data.seller_sales.items() %}
                                            <li class="d-flex mb-4 pb-1">
                                                <div
                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-1 fw-normal">{{ key }}:
                                                            {% if loop.index == 1 %}
                                                            <i class='bx bx-crown text-warning'></i>
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <div class="user-progress">
                                                        <h6 class="mb-0">{{ value }} orders</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="card">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <div class="card-title mb-0">
                                            <h5 class="m-0 me-2">Shop</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="p-0 m-0">
                                            {% for key, value in data.shop_sales.items() %}
                                            <li class="d-flex mb-4 pb-1">
                                                <div
                                                    class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                    <div class="me-2">
                                                        <h6 class="mb-1 fw-normal">
                                                            {{ key }}:
                                                            {% if loop.index == 1 %}
                                                            <i class='bx bx-crown text-warning'></i>
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <div class="user-progress">
                                                        <h6 class="mb-0">{{ value }} orders</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="report-list">
                        {% for team in data.private_team %}
                        <div class="report-list-item rounded-2 mb-3">
                            <div class="d-flex align-items-start">
                                <div class="d-flex justify-content-between align-items-end w-100 flex-wrap gap-2">
                                    <div class="d-flex flex-column">
                                        <span>{{team.name}}</span>
                                        <h5 class="mb-0">{{team.sale}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--/ Total Sale -->
    </div>
    <!--/ Total Sale -->
</div>


<script src="{{ url_for('auth_static',path='js/chartjs.js') }}"></script>
<script src="{{ url_for('auth_static',path='libs/apex-charts/apexcharts.js') }}"></script>
<script src="{{ url_for('auth_static',path='js/analytics.js') }}"></script>
<script>
    createChart({{ date }}, {{ orders }}, 'totalSaleChart');
    createChart({{ date }}, {{ items }}, 'totalItemChart');
    createBarChart({{ product_type }}, {{ count_product_type }}, 'productTypeChart');

    $('#date-range-picker-2').on('apply.daterangepicker', function (ev, picker) {
        const startDate = picker.startDate.format('YYYY/MM/DD');
        const endDate = picker.endDate.format('YYYY/MM/DD');

        $(this).val(startDate + ' - ' + endDate);
    });

    $('#submitAnalitics').on('click', function () {
        const date = $('#date-range-picker-2').val();
        const team = $('select[name="team"]').val();
        const seller = $('select[name="seller"]').val();
        const shop = $('select[name="shop"]').val();

        $('.loading_spinner').show();

        $.ajax({
            url: '/api/analytics_private_team',
            type: 'POST',
            data: JSON.stringify({
                date: date,
                team: team,
                seller: seller,
                shop: shop
            }),
            success: function (response) {
                $('.loading_spinner').hide();
                $('.render-results').html(response);
            },
            error: function (error) {
                console.log(error);
            }
        })
    })

</script>
{% endblock %}