{% extends "base.html" %} {% block content%}
<link rel="stylesheet" href="{{ url_for('auth_static',path='css/dropzone.css') }}" />
<link rel="stylesheet" href="{{ url_for('auth_static',path='libs/magnific-popup/magnific-popup.min.css') }}" />
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Orders/</span> Edit Order</h4>
    <!-- Hoverable Table rows -->
    <div class="row light-style">
        <div class="col-xl">
            <div class="card mb-12">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Edit Order</h5>
                </div>
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <input type="hidden" class="form-control" name="_id" id="_id" value="{{ data.order._id }}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="order_id">Order ID *</label>
                                <input type="text" class="form-control" name="order_id" id="order_id"
                                    value="{{ data.product.fulfillment_order_id }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="line_item_id">Item ID *</label>
                                <input type="text" class="form-control" name="line_item_id" id="line_item_id"
                                    value="{{ data.product.line_item_id }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="sku">Sku *</label>
                                <input type="text" class="form-control" name="sku" id="sku"
                                    value="{{ data.product.sku }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="seller">Seller *</label>
                                <input type="text" class="form-control" name="seller" id="seller"
                                    value="{{ data.product.seller }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="base_cost">Base cost ($)</label>
                                <input type="number" class="form-control" name="base_cost" id="base_cost"
                                    value="{{ data.product.base_cost }}">
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="quantity">quantity *</label>
                                <input type="number" class="form-control" name="quantity" id="quantity"
                                    value="{{ data.product.quantity }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="link_des">Link des</label>
                                <input type="text" class="form-control" name="link_des" id="link_des"
                                    value="{{ data.product.link_des }}" >
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="product_type">Product type *</label>
                                <input type="text" class="form-control" name="product_type" id="product_type"
                                    value="{{ data.product.product_type }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="size">Product size </label>
                                <input type="text" class="form-control" name="size" id="size"
                                    value="{{ data.product.size }}" >
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="material">Product material </label>
                                <input type="text" class="form-control" name="material" id="material"
                                    value="{{ data.product.material }}" >
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label class="form-label" for="color">Product color</label>
                                <input type="text" class="form-control" name="color" id="color"
                                    value="{{ data.product.color }}" >
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="personalization">Product personalization</label>
                                <input type="text" class="form-control" name="personalization" id="personalization"
                                    value="{{ data.product.personalization }}" >
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label class="form-label" for="other_option">Product Other option</label>
                                <input type="text" class="form-control" name="other_option" id="other_option"
                                    value="{{ data.product.other_option }}" >
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="num_color_kit">Number of Color Kit</label>
                                <input type="text" class="form-control" name="num_color_kit" id="num_color_kit"
                                    value="{{ data.product.num_color_kit }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label" for="num_holder">Number of Holder</label>
                                <input type="text" class="form-control" name="num_holder" id="num_holder"
                                    value="{{ data.product.num_holder }}" required>
                                <div data-lastpass-icon-root="true"
                                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-12">
                                <label class="form-label" for="note">Note</label>
                                <textarea id="note" class="form-control" name="note">{{ data.product.note }}</textarea>
                            </div>
                        </div>
                        <button type ='button' class="btn btn-secondary" data-bs-toggle="modal"  data-bs-target= "#addImages" >Images Note</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
                <div class="modal fade" id="addImages" tabindex="-1" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
                        <div class="modal-content p-3 p-md-5">
                            <div class="modal-body">
                                <!-- Multi  -->
                                <div class="col-12">
                                    <div class="card">
                                        <h5 class="card-header">Multiple</h5>
                                        <div class="card-body">
                                            <form method="POST" class="addImagesForm">
                                                <!-- Hidden input fields for order id and product -->
                                                <div id="list-input">
                                                    {% if data.product.note_images is defined %}
                                                        <div class ='row'>
                                                            <div class="col-4">
                                                                <label for="note">Note</label>
                                                                <input type="text" class="form-control" name="note" value="{{ data.product.note_images[0].note }}" />
                                                            </div>
                                                            <div class="col-4">
                                                            <label for="link">Link Image</label>
                                                            <input type="text" class="form-control" name="link" value="{{ data.product.note_images[0].link }}" />
                                                            </div>
                                                            <div class ="col-4">  
                                                                <br>
                                                            <button class="btn btn-outline-secondary" type="button" onclick="add_row()">Add Row</button>
                                                            </div>
                                                        </div>
                                                        {% for image in data.product.note_images[1:] %}
                                                        <div class ='row'>
                                                            <div class="col-4">
                                                                <label for="note">Note</label>
                                                                <input type="text" class="form-control" name="note" value="{{ image.note }}" />
                                                            </div>
                                                            <div class="col-4">
                                                            <label for="link">Link Image</label>
                                                            <input type="text" class="form-control" name="link" value="{{ image.link }}" />
                                                        </div>
                                                        {%endfor %}
                                                    {%else%}
                                                    <div class ='row'>
                                                        <div class="col-4">
                                                            <label for="note">Note</label>
                                                            <input type="text" class="form-control" name="note" value="" />
                                                        </div>
                                                        <div class="col-4">
                                                        <label for="link">Link Image</label>
                                                        <input type="text" class="form-control" name="link" value="" />
                                                        </div>
                                                        <div class ="col-4">  
                                                            <br>
                                                        <button class="btn btn-outline-secondary" type="button" onclick="add_row()">Add Row</button>
                                                        </div>
                                                    </div>
                                                    {% endif %}    
                                                </div>    
                                                <br>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Multi  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="file" class="dz-hidden-input" tabindex="-1"
        style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;">
    <!--/ Hoverable Table rows -->
</div>
<script src="{{ url_for('auth_static',path='libs/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.popup_img').magnificPopup({
            type: 'image'
        });
    });
    function add_row(){
        div = document.createElement('div');
        div.className = 'row';
        div.innerHTML = '<div class="col-4"><input type="text" class="form-control" name="note" value="" /></div><div class="col-4"><input type="text" class="form-control" name="link" value="" /></div>';
        br = document.createElement('br');
        document.getElementById('list-input').appendChild(br);
        document.getElementById('list-input').appendChild(div);
    }
    $('.addImagesForm').submit(function(e){
        e.preventDefault();
        let formData = new FormData();
        var images = [];
        $('#list-input .row').each(function() {
            var note = $(this).find('input[name="note"]').val();
            var link = $(this).find('input[name="link"]').val();
            images.push({
                note: note,
                link: link
            });
        })
        _id = $('#_id').val();
        formData.append('_id', _id);
        line_item_id = $('#line_item_id').val();
        formData.append('line_item_id', line_item_id);
        formData.append('note_images', JSON.stringify(images));
        $.ajax({
            type: 'POST',
            data: formData,
            url: '/api/edit_order_note_images',
            success: function (data) {
                console.log(data);
                if(data['status'] == 200){
                    alert('Add images success');
                    location.reload();
                }
                else{
                    alert(data['message']);
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

</script>
{% endblock %}