{% extends "base.html" %} {% block content%}

<link rel="stylesheet"
    href="{{ url_for('auth_static',path='libs/datatable-fixedheader/fixedheader.bootstrap5.css') }}" />
<link rel="stylesheet" href="{{ url_for('auth_static',path='css/demo.css') }}" />



<div class="container-fluid flex-grow-1 container-p-y">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="row row-bordered g-0">
                <div class="card-header row">
                    <h5 class="card-title mb-0">Clipart</h5>
                </div>
                <div class="card-body">
                    <!-- Buttons Row -->
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-primary" onclick="addTextbox(canvas)">Add Textbox</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-secondary" onclick="remove(canvas)">Remove Textbox</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success" onclick="extract_all_element()">Save Data</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-secondary" id="upload-button">Upload</button>
                        </div>
                        
                    </div>
                    <!-- Input Number Row -->
                    <div class="row mb-3">
                        <div class="col">
                            <label for='x'>x</label>
                            <input type="number" id='x' style="width:50px">
                        </div>
                        <div class="col">
                            <label for='y'>y</label>
                            <input type="number" id='y' style="width:50px">
                        </div>
                        <div class="col">
                            <label for='font'>font</label>
                            <input type="number" id='font' style="width:50px">
                        </div>
                        <div class="col">
                            <label for='width'>width</label>
                            <input type="number" id='width' style="width:70px">
                        </div>
                        <div class="col">
                            <label for='height'>height</label>
                            <input type="number" id='height' style="width:70px">
                        </div>
                        <div class="col">
                            <label for='tolerance'>tolerance</label>
                            <input type="number" value="1.0" id='tolerance' style="width:50px">
                        </div>
                    </div>
                    <!-- Canvas Element -->

                    <div class="row">
                        <div class="col">
                            <canvas id="canvas" width="1000" height="300" style="border:1px solid #000000; background-color: rgba(166, 168, 170, 0.2);">
                            </canvas>
                        </div>
                    </div>
                    <div class="modal fade" id="uploadDesign" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
                            <div class="modal-content p-3 p-md-5">
                                <div class="modal-body">
                                    <!-- Multi  -->
                                    <div class="col-12">
                                        <div class="card">
                                            <h5 class="card-header">Multiple</h5>
                                            <div class="card-body">
                                                <input type="hidden" class="upload-loop-index" value="" />
                                                <form method="POST" class="dropzone needsclick" id="dropzone-multi">
                                                    <!-- Hidden input fields for order id and product -->

                                                    <div class="upload-image-form">
                                                        <div class="dz-message needsclick">
                                                            Drop files here or click to upload
                                                        </div>
                                                        <div class="fallback">
                                                            <input name="file" type="file"
                                                                accept="image/*, application/pdf, application/illustrator" />
                                                        </div>
                                                        <!-- submit btn -->
                                                        <div class="text-center mt-3">
                                                            <button type="button" class="btn btn-primary"
                                                                id="uploadBtn">Upload</button>
                                                            <button type="button" class="btn btn-outline-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Multi  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.0/fabric.min.js">
</script>

<script src="{{ url_for('auth_static',path='libs/dropzone/dropzone.js') }}"></script>


<script>
    var textBoxes = [];
    var selected_id = ''
    var input_x = document.getElementById('x');
    var input_y = document.getElementById('y');
    var input_font = document.getElementById('font');
    function addTextbox(canvas) {
        const currentDate = new Date();
        var alphabet = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
        var random = Math.floor(Math.random() * 9);
        var uniqueId = currentDate.getTime().toString() + alphabet[random];
        var textBox = new fabric.Textbox('Enter text...', {
            fontSize: 16,
            editable: true,
            id: uniqueId,
            type: 'textbox'

        });
        canvas.add(textBox);
        canvas.centerObjectH(textBox);
        canvas.setActiveObject(textBox);
        input_x.value = textBox.left;
        input_y.value = textBox.top;
        input_font.value = textBox.fontSize;
        textBoxes.push(textBox);
    }
    function remove(canvas) {
        var targetE = canvas.getActiveObject();
        canvas.remove(targetE);
        canvas.renderAll();
        selected_id = '';
    }
    $('#width').on('change',function (){
        let width = $('#width').val();
        let height  = $('#height').val();
        let newRatio = width / height;
        let canvaswidth = canvas.height * newRatio;
        canvas.setWidth(canvaswidth);
        canvas.renderAll();
    })
    $('#height').on('change',function (){
        let width = $('#width').val();
        let height  = $('#height').val();
        let newRatio = width / height;
        let canvasHeight = 1000 / newRatio;
        canvas.setHeight(canvasHeight);
        canvas.renderAll();
    })
    const previewTemplate = `<div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <div class="dz-thumbnail">
                <img data-dz-thumbnail>
                <span class="dz-nopreview">No preview</span>
                <div class="dz-success-mark"></div>
                <div class="dz-error-mark"></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
                </div>
            </div>
            <div class="dz-filename" data-dz-name></div>
            <div class="dz-size" data-dz-size></div>
            </div>
        </div>`;

    function handleFormSubmit(files) {
        // Check if the uploaded file is an image
        const formData = new FormData();
        for (const file of files) {
            if (file.type.startsWith('image/')) {
                let timestamp = new Date().getTime();
                let random_number = Math.floor(Math.random() * 1000000);
                let filename =random_number.toString()+ timestamp.toString() + '_' + file.name;
                var newFile = new File([file], filename, {
                    type: file.type,
                });
                formData.append('file', newFile);
                let path  = URL.createObjectURL(file);
                fabric.Image.fromURL(path, function (fabricImage) {
                    totalWidth += fabricImage.width;
                    totalHeight += fabricImage.height;
                    scale = 1000 / totalWidth;
                    fabricImage.set({
                        left: 0,
                        top: 0,
                    });

                    newRatio = totalWidth / totalHeight;
                    let canvasHeight = 1000 / newRatio;
                    // Set the new canvas height
                    canvas.setHeight(canvasHeight);
                    canvas.add(fabricImage);
                    scale = 1000 / totalWidth
                    fabricImage.toObject = function () {
                        let bucket_name = 'nambe-fulfillments';
                        let now = new Date();
                        let month = now.getMonth() + 1;
                        let date_ = now.getDate(); 
                        if (month < 10) {
                            month = '0' + month;
                        }
                        if (date_ < 10) {
                            date_ = '0' + date_;
                        }
                        let date = now.getFullYear() + '-' + month + '-' + date_;
                        let seller = 'pdf_gen_img';
                        let url_google = 'https://storage.googleapis.com/'+bucket_name+'/'+seller+'/'+date+'/'+filename
                        console.log(file.name)
                        return { 'name': file.name, x: this.left, y: this.top, scale: scale, type: 'img_newgen',path:url_google, 'width': fabricImage.width, 'height': fabricImage.height };
                    };
                    fabricImage.lockUniScaling = true
                    canvas.forEachObject(function (obj) {
                        obj.scaleX = scale;
                        obj.scaleY = scale;
                    });
                    $('#width').val(totalWidth);
                    $('#height').val(totalHeight);
                });
                 // Clear the canvas and add the new image
                
               
            } else {
                alert('Please select an image file.');
            }
        }
        
        canvas.renderAll();
        const apiEndpoint = '/api/upload_gen_imgs';
        fetch(apiEndpoint, {
            method: 'POST',
            body: formData,
        }).then((response) => response.json())
            .then((data) => {
                console.log(data);
                $('#uploadDesign').modal('hide');
        });
            
            // Render canvas

    };


    document.getElementById('upload-button').addEventListener('click', function () {
        // Trigger file input
        $('#uploadDesign').modal('show');
    });
    const dropzoneMulti = document.querySelector('#dropzone-multi');
    if (dropzoneMulti) {
        const myDropzoneMulti = new Dropzone(dropzoneMulti, {
            url: '/dummy-url', // Set a dummy URL to prevent Dropzone from handling the upload
            previewTemplate: previewTemplate,
            parallelUploads: 1,
            maxFilesize: 70,
            addRemoveLinks: true
        });

        const uploadBtn = document.getElementById('uploadBtn');
        uploadBtn.addEventListener('click', function () {
            const files = myDropzoneMulti.files;
            if (files.length > 0) {
                handleFormSubmit(files);
            } else {
                console.log('No files selected.');
            }
        });
    };

    // Initiate a Canvas instance 
    var canvas = new fabric.Canvas("canvas");
    let totalWidth = 0;
    let totalHeight = 0;
    // current url
    var url = new URL(window.location.href);


    var pdf = {{ data.pdf| tojson }};
    if (pdf) {
        pdf = pdf.pdf;
        var elements = pdf.elements;
        var width = pdf.width;
        var height = pdf.height;
        scale = 1;
        if (width > 1000) {
            scale1 = width / 1000;
        }
        const ratio = width / height;
        if (height > 1000 / ratio) {
            scale2 = Math.max(scale, height / (1000 / ratio));
        }
        scale = Math.max(scale1, scale2);
        canvas.setDimensions({ width: width / scale, height: height / scale });
        for (const element of pdf.elements) {
            if (element.type == 'textbox') {
                var textBox = new fabric.Textbox(element.text, {
                    fontSize: element.fontSize,
                    editable: true,
                    id: element.id,
                    left: element.x * scale,
                    top: element.y * scale
                });
                canvas.add(textBox);
            } else {
                fabric.Image.fromURL(element.src, function (img) {
                    img.set({
                        left: element.x * scale,
                        top: element.y * scale,
                        scaleX: scale,
                        scaleY: scale
                    });
                    canvas.add(img);
                    totalWidth += img.width;
                    totalHeight += img.height;
                });
            }
        }
    }


    canvas.on('mouse:down', (options) => {
        if (options.target) {
            input_x.value = options.target.left;
            input_y.value = options.target.top;
            // check if the selected object is a textbox
            if (options.target.type == 'textbox') {
                // get the font size of the selected textbox
                input_font.value = options.target.fontSize;
            } else {
                input_font.value = '';
            }
        } else {
            canvas.discardActiveObject();
            input_x.value = '';
            input_y.value = '';
            input_font.value = '';
        }


    });
    canvas.on('object:scaling', function (event) {
        if (event.target) {
            input_font.value = (event.target.fontSize * event.target.scaleX).toFixed(0);
        }
    });

    canvas.on('object:modified', function (event) {
        if (event.target) {
            event.target.fontSize *= event.target.scaleX;
            event.target.fontSize = event.target.fontSize.toFixed(0);
            if (event.target.type == 'textbox') {
                event.target.scaleX = 1;
                event.target.scaleY = 1;
                input_font.value = event.target.fontSize;
                event.target._clearCache();
            }

           
        }
    });
    // add change event listener to the input font box
    input_font.addEventListener('change', (e) => {
        // get the selected textbox
        var targetE = canvas.getActiveObject();
        // set the font size of the selected textbox
        if (targetE.type == 'textbox') {
            targetE.set('fontSize', parseFloat(e.target.value));
            canvas.renderAll();
        } else {
            input_font.value = '';
            canvas.discardActiveObject();
        }

        // render the canvas

    });
    // add change event listener to the input x box
    input_x.addEventListener('change', (e) => {
        // get the selected textbox
        var targetE = canvas.getActiveObject();
        if (targetE) {
            if (targetE.type == 'textbox') {
                canvas.centerObjectH(targetE);
            }
            // set the x position of the selected textbox

            targetE.set('left', parseFloat(e.target.value));
            // render the canvas
            canvas.renderAll();
        } else {
            input_x.value = '';
            canvas.discardActiveObject();
        }
    });
    // add change event listener to the input y box
    input_y.addEventListener('change', (e) => {
        // get the selected textbox
        var targetE = canvas.getActiveObject();
        if (targetE) {
            if (targetE.type == 'textbox') {
                canvas.centerObjectV(targetE);
            }
            targetE.set('top', parseFloat(e.target.value));
            // render the canvas
            canvas.renderAll();
        } else {
            input_y.value = '';
            canvas.discardActiveObject();
        }
        // set the y position of the selected textbox

    });
    canvas.on('object:moving', (options) => {
        obj = options.target;
        if (obj.currentHeight > obj.canvas.height || obj.currentWidth > obj.canvas.width) {
            return;
        }
        obj.setCoords();
        // top-left  corner
        if (obj.getBoundingRect().top < 0 || obj.getBoundingRect().left < 0) {
            obj.top = Math.max(obj.top, obj.top - obj.getBoundingRect().top);
            obj.left = Math.max(obj.left, obj.left - obj.getBoundingRect().left);

        }
        // bot-right corner
        if (obj.getBoundingRect().top + obj.getBoundingRect().height > obj.canvas.height || obj.getBoundingRect().left + obj.getBoundingRect().width > obj.canvas.width) {
            obj.top = Math.min(obj.top, obj.canvas.height - obj.getBoundingRect().height + obj.top - obj.getBoundingRect().top);
            obj.left = Math.min(obj.left, obj.canvas.width - obj.getBoundingRect().width + obj.left - obj.getBoundingRect().left);
        }
        input_x.value = parseFloat(obj.left.toFixed(0));
        input_y.value = parseFloat(obj.top.toFixed(0));

    });
    function hideOnClickOutside(element) {
        const outsideClickListener = event => {
            if (!element.contains(event.target) && isVisible(element)) { // or use: event.target.closest(selector) === null
                element.style.display = 'none';
                removeClickListener();
            }
        }

        const removeClickListener = () => {
            document.removeEventListener('click', outsideClickListener);
        }

        document.addEventListener('click', outsideClickListener);
    }
    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, { type: mime });
    }
    function extract_all_element() {
       
        var objects = canvas.getObjects();            
        var scale = objects.find(o => o.type === 'image').scaleX;
        if (!scale){
            scale = 1;
        }
        var data =  objects.map(object => {
            let data_oject = object.toObject();
            data_oject['x'] = parseInt(object.left) / scale;
            data_oject['y'] = parseInt(object.top) / scale;
            return data_oject;
        })
        const data_images = [].concat(data.filter((object) => {
            return object['type'] == 'img_newgen'
        }))
        const data_texts = [].concat(data.filter((object) => {
            return object['type'] == 'textbox'
        })) 
        var data_custom = data_images.map((object) => {
            let custom_ = {
                'name': object['name'],
                'rangeX':{
                    'start':object['x'] ,
                    'end': object['x'] + object.width
                },
                'rangeY':   {
                    'start': object['y'],
                    'end': (object['y'] + object.height)*1.2
                } 
            }
            return custom_;
        })
        
        data_custom = data_custom.map(item => {
            data_texts.forEach(function (object) {
                if (item['rangeX']['start'] < object.x && object.x  < item['rangeX']['end'] && item['rangeY']['start'] < object.y && object.y  < item['rangeY']['end']  ){
                    item['name1'] = object['text']    
                }
            });     
            return item;
        })
        data = data.map((item,index) => {
            if (item.type == 'img_newgen' && item['name']) {
                custom_ = data_custom.find(o => o.name === item['name']);
                console.log(custom_)
                if (custom_['name1']){
                    item['name'] = custom_['name1']
                }else{
                    console.log(item['name'])
                }
            }
            return item;
        })
            let data_url = canvas.toDataURL('jpeg');
            let file = dataURLtoFile(data_url, 'test.jpeg');
            const formData = new FormData();
            formData.append('file', file);
            const apiEndpoint = '/api/upload_gen_img';
            
            fetch(apiEndpoint, {
                method: 'POST',
                body: formData,
            })
                .then((response) => response.json())
                .then((res) => {
                    var result = {
                        'type': 'png_gen',
                        'pdf': {
                            'elements': data,
                            'width':  $('#width').val(),
                            'height':  $('#height').val(),
                            'tolerance': $('#tolerance').val(),
                            'custom':data_custom
                        },
                        'preview': res.link_folder[0]
                    }
                    $.ajax({
                        url: '/api/save_pdf', // Update this URL as needed
                        method: 'POST',
                        data: JSON.stringify(result),
                        contentType: 'application/json',
                        success: function (data) {
                            // Assuming data is an array of image binary data    
                            alert(res.message);

                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                    console.log(result);
                }).catch((error) => {
                    alert('Error:', error);
                    console.error('Error:', error);
                });

        }

    



</script>

{% endblock %}