    <!-- Core JS -->
    <!-- build:js js/core.js -->
    <script src="{{ url_for('auth_static',path='libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('auth_static',path='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('auth_static',path='libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    
    <script src="{{ url_for('auth_static',path='js/menu.js') }}"></script>
    <!-- endbuild -->
    
    <!-- Vendors JS -->
    <script src="{{ url_for('auth_static',path='libs/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('auth_static',path='libs/daterangepicker/daterangepicker.min.js') }}"></script>

    <!-- Main JS -->
    <script src="{{ url_for('auth_static',path='js/main.min.js') }}"></script>
  </body>
</html>